:root {
    --main-bg-color: brown;
    --main-primary-color: green;
    --secondary-fg-color: white;
    --nav-bar-height: 50px;
}

body {
    margin: 0;
    padding: 0;
}
.nav {
    background: var(--main-primary-color);
    display: flex;
    justify-content: space-between;
}
.nav .right {
    height: var(--nav-bar-height);
    margin-right: 10px;
}
.nav .left {
    height: var(--nav-bar-height);
}

.nav .left img {
    margin: 10px;
    height: calc(100% - 20px);
}
.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav li {
    float: left;
    line-height: 50px;
    height: var(--nav-bar-height);
}

.nav li:hover {
    background: white;
}

.nav li a {
    color: var(--secondary-fg-color);
    text-decoration: none;
    padding: 10px;
    text-align: center;
}

.nav li a:hover {
    color: black;
}

footer .links img{
    height: 40px;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: var(--main-primary-color);
}

footer .links {
    display: flex;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
footer .links a {
    margin: 5px 10px 0;
}
footer p {
    font-size: x-small;
    text-align: center;
    margin: 2px;

}
footer .unimportant {
    color: rgb(150, 150, 150);
}